* {
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin: none; */
    flex-direction: column;
    background-color: #81b29a;
}

.tip {
    font-style: italic;
    font-weight: bold;
    margin: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.metronome {
    display: flex;
    width: 350px;
    height: 400px;
    position: relative;
}

.background-left {
    border-bottom: 400px solid #7fe05f;
    border-left: 100px solid transparent;
}

.background-center {
    flex: 1;
    background-color: #ffea00;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.background-right {
    border-bottom: 400px solid #ff00f7;
    border-right: 100px solid transparent;
}

.core {
    flex: 1;
    width: 30%;
    background-color: #f4f1de;
    margin: 24px 0;
    border: 6px dashed #7300ff;
}

@keyframes bounce {
    0%   { transform: translateY(0px); }
    50%  { transform: translateY(-330px);  }
    100% { transform: translateY(0px); }
}

.arm {
    height: 10px;
    width: 90px;
    background-color: #ff0808;
    position: absolute;
    bottom: 30px;
    margin-left: -30px;
    /* border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px; */
    left: 165px;
    transform-origin: top center;
    animation: bounce 1200ms ease-in-out infinite;
}

#checkboxes {
    margin-bottom: 20px;
}

#checkboxes, div{
    margin-left: 10px;
}

#hi-hat-timing {
    margin-left: 38px;
}

#kick-drum-timing{
    margin-left: 10px;
}

input{
    border: 1px solid grey;
    border-radius:7px;
    width:70px;
}

#tempo{
    width:146px;
    margin-top: 10px;
}

#clear{
    margin-left: 100px;
    margin-top: 20px;
}

#note-timing{
    margin-left: 45px;
}

#count-input {
    width: 146px;
    margin-top: 5px;
}